<%- include('./layouts/header') %>

<h1><span class="goback" onclick="window.history.back()">←</span> Profile</h1>

<div class="profile">
  <div>
    <p class="title">ID</p>
    <p class="subtitle"><%= person.id %></p>
  </div>
  <div>
    <p class="title">Email/username</p>
    <p class="subtitle"><%= person.email %></p>
  </div>
  <div>
    <p class="title">Role</p>
    <p class="subtitle"><%= person.role %></p>
  </div>
  <div>
    <p class="title">User object</p>
    <pre class="subtitle"><%= person %></pre>
  </div>
</div>
<%- include('./layouts/footer') %>
